<html xmlns="http://www.w3.org/1999/xhtml"><head><script type="text/javascript" src="//api-public.addthis.com/url/shares.json?url=http%3A%2F%2Fprojetech.com%2F&amp;callback=_ate.cbs.sc_httpprojetechcom0"></script><script type="text/javascript" src="//s7.addthis.com/static/r07/plugins/counter020.js"></script><script type="text/javascript" src="//s7.addthis.com/static/r07/menu173.js"></script><meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="http://projetech.com/favicon.ico" type="image/x-icon">
 <title>Maximo SaaS, Hosting, Training, Upgrades, Support | Projetech, The Maximo Experts</title>
 <base href="http://projetech.com/">
<meta name="description" content="Projetech, an IBM Premier Business Partner, provides solutions to maintenance and reliability professionals.  Maximo® as a Service, our cloud hosting solution, provides an economical and secure alternative to hosting Maximo® in-house.">
<meta name="keywords" content="Projetech, an IBM Premier Business Partner, provides solutions to maintenance and reliability professionals.  Maximo® as a Service, our cloud hosting solution, provides an economical and secure alternative to hosting Maximo® in-house.">
<meta name="google-site-verification" content="kbYkYrgUGCMFPbrUFxODlUyAv5lDCtPhg-6KnXzTn5I">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta property="og:image" content="http://projetech.com/assets/images/projlogo-blue.jpg">
<link rel="image_src" href="http://projetech.com/assets/images/Logo_SocialMedia.png">

<link href="http://projetech.com/assets/css/p.css" rel="stylesheet" type="text/css">
<link href="http://projetech.com/assets/css/MenuMatic.css" rel="stylesheet" type="text/css">
<link rel="alternate" type="application/rss+xml" title="Projetech RSS Feed" href="http://projetech.com/feeds.rss">

<link rel="stylesheet" type="text/css" href="http://projetech.com/assets/css/style.css">
<script type="text/javascript" src="http://cdn.pardot.com/pd.js"></script><script type="text/javascript" id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vfllgPgCl/www-widgetapi.js" async=""></script><script type="text/javascript" async="" src="http://www.google-analytics.com/plugins/ua/linkid.js"></script><script src="//www.youtube.com/iframe_api"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/analytics.js"></script><script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-WGB5H7"></script><script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://projetech.com/assets/js/script.js"></script>

<script type="text/javascript" src="http://projetech.com/assets/js/mootools-core-1.3-full-compat-yc.js"></script>
<script type="text/javascript" src="http://projetech.com/assets/js/mootools-more-1.3.2.1.js"></script>
<script type="text/javascript" src="http://projetech.com/assets/js/flowplayer-3.2.6.min.js"></script>
<script type="text/javascript" src="http://projetech.com/assets/js/swfobject.js"></script>  
<script type="text/javascript" src="http://projetech.com/assets/js/MenuMatic_0.68.3.js"></script> 
<script>
var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};

if(isMobile.any()){
    // Mobile!
} else {
   document.write("<script src='http://projetech.com/assets/js/p.js'><\/script>");

}
</script><script src="http://projetech.com/assets/js/p.js"></script>

<!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="http://projetech.com/assets/css/ie7.css">
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="http://projetech.com/assets/js/MenuMatic-ie6.css" ></script> 
<![endif]-->
<script type="text/javascript">

</script>

<script type="text/javascript">
	piAId = '11722';
	piCId = '3821';

	(function() {
		function async_load(){
			var s = document.createElement('script'); s.type = 'text/javascript';
			s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
			var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
		}
		if(window.attachEvent) { window.attachEvent('onload', async_load); }
		else { window.addEventListener('load', async_load, false); }
	})();
</script>


<script type="text/javascript"></script><link rel="stylesheet" type="text/css" href="/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.css"><style type="text/css" media="screen">#logorot {visibility:hidden}</style><link rel="stylesheet" type="text/css" href="//s7.addthis.com/static/r07/widget/css/widget014.top.svg.css" media="all"><link rel="stylesheet" type="text/css" href="//s7.addthis.com/static/r07/plugins/counter015.css" media="all"><script type="text/javascript" src="http://pi.pardot.com/analytics?ver=3&amp;visitor_id=320521506&amp;pi_opt_in=&amp;campaign_id=3821&amp;account_id=11722&amp;title=Maximo%20SaaS%2C%20Hosting%2C%20Training%2C%20Upgrades%2C%20Support%20%7C%20Projetech%2C%20The%20Maximo%20Experts&amp;url=http%3A%2F%2Fprojetech.com%2F&amp;referrer="></script><script type="text/javascript" src="http://marketing.projetech.com/analytics?conly=true&amp;visitor_id=320521506&amp;pi_opt_in=&amp;campaign_id=3821&amp;account_id=11722&amp;title=Maximo%20SaaS%2C%20Hosting%2C%20Training%2C%20Upgrades%2C%20Support%20%7C%20Projetech%2C%20The%20Maximo%20Experts&amp;url=http%3A%2F%2Fprojetech.com%2F&amp;referrer="></script></head>
<body id="home" class="body_1"><script type="text/javascript" language="javascript" src="/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.js?0=0&amp;0=0&amp;0=0"></script> 
<!-- Google Tag Manager -->
<noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-WGB5H7"
height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WGB5H7');</script>
<!-- End Google Tag Manager -->

<a name="top" id="top"></a> 
<div class="top_header">   
	<div class="global_nav">
		<span class="phone">(800) 611-2884</span>
		<a href="about-us/">About Us</a>	 |
		<a href="about-us/contact-us">Contact Us</a> |
		<a href="customer-support">Customer Support</a> |
		<a href="about-us/free-trial">Free Trial</a> 

</div>	

	<div class="top_headeri">
		<div class="navigation"> 

			<ul id="nav"><li class="first"><a href="industry-roi/" title="Industry ROI" class="mainMenuParentBtn mainParentBtn">Industry ROI</a></li>
<li><a href="demo" title="Demo">Demo</a></li>
<li><a href="solution/" title="Solution" class="mainParentBtn mainMenuParentBtn">Solution</a></li>
<li><a href="upgrades/" title="Upgrades">Upgrades</a></li>
<li><a href="training/" title="Training" class="mainMenuParentBtn mainParentBtn">Training</a></li>
<li><a href="integration/" title="Integration">Integration</a></li>
<li><a href="careers/" title="Careers" class="mainMenuParentBtn mainParentBtn">Careers</a></li>
<li><a href="events" title="Events">Events</a></li>
<li class="last"><a href="blog/" title="Blog">Blog</a></li>
</ul>
			<div style="clear:both"></div>
		</div>   

		<div class="logo_c" onclick="location.href=&quot;/&quot;">		
		</div>   

	</div>                  

</div>     

<div class="doc_w">   
<div id="dl-menu" class="dl-menuwrapper">
	<a class="toggleMenu" href="#" style="display: none;">Menu</a>
	   
<ul class="nav-mobile" style="display: block;"><li>
<a href="industry-roi/" class="parent">Industry ROI</a>
<ul class="nav-mobile" style="display: block;"><li>
<a href="industry-roi/roi">Industry ROI</a>

</li>

<li>
<a href="industry-roi/energy">Energy</a>

</li>

<li>
<a href="industry-roi/facilities-management">Facilities Management</a>

</li>

<li>
<a href="industry-roi/government">Government</a>

</li>

<li>
<a href="industry-roi/healthcare">Healthcare</a>

</li>

<li>
<a href="industry-roi/life-science-pharmeceuticals">Life Science / Pharmaceuticals</a>

</li>

<li>
<a href="industry-roi/manufacturing">Manufacturing</a>

</li>

<li>
<a href="industry-roi/service-providers">Service Providers</a>

</li>

<li>
<a href="industry-roi/transportation">Transportation</a>

</li>

</ul>
</li>

<li>
<a href="demo">Demo</a>

</li>

<li>
<a href="solution/" class="parent">Solution</a>
<ul class="nav-mobile" style="display: block;"><li>
<a href="solution/overview">Overview</a>

</li>

<li>
<a href="solution/maximo-cost-comparison">Maximo Cost Comparison</a>

</li>

<li>
<a href="solution/maximo-mobile">Maximo Mobile</a>

</li>

<li>
<a href="solution/maximo-on-demand-support">Maximo Support</a>

</li>

<li>
<a href="solution/maximo-modules-and-features">Maximo Modules &amp; Features</a>

</li>

<li>
<a href="solution/maximo-security">Maximo Security</a>

</li>

<li>
<a href="solution/maximo-software">Maximo Software</a>

</li>

<li>
<a href="solution/work-request-portal">Work Request Portal</a>

</li>

</ul>
</li>

<li>
<a href="upgrades/">Upgrades</a>

</li>

<li>
<a href="training/" class="parent">Training</a>
<ul class="nav-mobile" style="display: block;"><li>
<a href="training/instructor-led-online-maximo-learning">Instructor-Led Online Maximo Learning (ILO)</a>

</li>

<li>
<a href="training/self-paced-online-maximo-learning">Self-Paced Online Maximo Learning (SPOL)</a>

</li>

<li>
<a href="training/maximo-4-classes">Maximo 4 Classes</a>

</li>

<li>
<a href="training/maximo-6-classes">Maximo 6 Classes</a>

</li>

<li>
<a href="training/maximo-7.1-classes">Maximo 7.1 Classes</a>

</li>

<li>
<a href="training/maximo-7.5-classes">Maximo 7.5 Classes</a>

</li>

<li>
<a href="training/training-faq">Training F.A.Q.</a>

</li>

</ul>
</li>

<li>
<a href="integration/">Integration</a>

</li>

<li>
<a href="careers/" class="parent">Careers</a>
<ul class="nav-mobile" style="display: block;"><li>
<a href="careers/co-op-developer">Co-op Developer</a>

</li>

<li>
<a href="careers/co-op-technical-support">Co-op Technical Support Analyst</a>

</li>

<li>
<a href="careers/information-systems-support-/-junior-security-analyst">Information Systems Support / Junior Security Analyst</a>

</li>

<li>
<a href="careers/maximo-specialist-consultant">Maximo Specialist/Consultant</a>

</li>

<li>
<a href="careers/technical-support-analyst">Technical Support Analyst</a>

</li>

</ul>
</li>

<li>
<a href="events">Events</a>

</li>

<li>
<a href="blog/">Blog</a>

</li>

</ul>

</div>

	<div class="doc" id="doc" style="min-height: 1739px;">   
		<div class="page">  

	<div class="client_edit_area">
        <div class="right_col_c">
           <div class="right_col">
               <div class="new_pic">

<img src="/assets/images/businesspartner.jpg">

<br>
<br>

</div>
<div class="search_c">




<form class="sisea-search-form" action="about-us/search-results" method="get">
  <fieldset>
    <label for="search">Search</label>

    <input type="text" name="search" id="search" value="">
    <input type="hidden" name="id" value="53"> 

    <input type="submit" value="Search">
  </fieldset>
</form>


<!--
<input id="search" class="search" alt="Search Projetech" name="search" type="text" /><input class="sb" src="/assets/images/search_button.png" type="image" />
-->
</div>
        	   <div class="action_buttons item">

                         
			<a href="demo">View Demos</a>
                           <a href="about-us/free-trial">Get a Free Trial</a>
			<a href="get-started">Get Started </a>
			<a href="about-us/get-a-quote">Get a Quote</a> 
                           <a href="white-papers">White Papers</a> 
						   <a href="resources">Resource Center</a> 
		</div>	
               <div class="news_ticker item2">
<br>
<div class="t"></div>
<div class="dbbox"> 
<div class="newdesc">

<a href="https://www.facebook.com/pages/Projetech-Inc/262491811210" target="_blank">
<img style="float: left; margin: 0 1px 10px 0;" src="/assets/images/facebook-icon-lg.png" border="0" alt=""></a></div>

<a href="https://www.youtube.com/user/Projetech" target="_blank">
<img style="float: left; margin: 0pt 3px 10px 0pt; border: 0pt none;" src="/assets/images/youtube2.png" alt="" width="60" height="60"></a>

<a href="https://plus.google.com/105738756826370942295/" target="_blank">
<img style="float: left; margin: 0pt 3px 10px 0pt; border: 0pt none;" src="/assets/images/g.png" alt="" width="60" height="60"></a>

<a href="https://www.linkedin.com/company/projetech" target="_blank">
<img style="float: left; margin: 0pt 3px 10px 0pt; border: 0pt none;" src="/assets/images/linkedin.png" alt="" width="60" height="60"></a>


<div class="newdesc" style="border-top:1px dashed #999; padding:10px 0;clear:left">
<h3>Contact Projetech</h3>
<div class="phone"><span class="phone">(800) 611-2884</span></div>
<div class="cemail"><a href="mailto:info@projetech.com">info@projetech.com</a></div>
<span id="dnn_ctr483_ContentPane"><span style="font-family: Arial; font-size: 10pt;">3815 Harrison Ave. <br>Cincinnati OH 45211 </span></span>



</div></div>

               <div class="contactbox item dbbox">
<h3></h3>
<div class="phone"><span class="phone"></span></div>
<div class="cemail"><a href="mailto:info@projetech.com"></a></div>
<span id="dnn_ctr483_ContentPane"><span style="font-family: Arial; font-size: 10pt;"><br></span></span>
<a href="http://www.cvent.com/events/maximo-user-group-summit/event-summary-0869b06e203b4ae482f554651ae110a3.aspx" target="_blank">
<img style="float: left; margin: 0 1px 1px 0;" src="/assets/savedateforwebsitedate1.png" border="0" alt=""></a></div>
</div>
</div>
</div>

           </div>
        </div>
<!-- end right_col -->
<div class="left_col">
    <div class="topslider">
    <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;"><ul class="bxslider" style="width: auto; position: relative;">
      <li style="float: none; list-style: none; position: absolute; width: 778px; z-index: 50; display: block;">
            <div class="left slide-leftcol">
                <h2>BENEFITS OF</h2>
                <h1>Asset</h1>
                <h1>Management</h1>
             </div>
             <div class="left slide-rightcol">
                <p>Eliminate unplanned downtime</p>
                <p>Increase labor efficiency</p>
                <p>Meet compliance requirements</p>
             </div>
      </li>
      <li style="float: none; list-style: none; position: absolute; width: 778px; z-index: 50; display: list-item;">
            <div class="left slide-leftcol">
                <h2>BENEFITS OF</h2>
                <h1>Maximo</h1>
             </div>
             <div class="left slide-rightcol">
                <p>IBM-backed solution</p>
                <p>Integrated using IBM standard API</p>
                <p>Full functionality for variety of industries</p>
             </div>  
      </li>
      <li style="float: none; list-style: none; position: absolute; width: 778px; z-index: 50; display: list-item;">
            <div class="left slide-leftcol">
                <h2>BENEFITS OF</h2>
                <h1>Projetech's</h1>
                <h1>Maximo as</h1>
                <h1>a Service</h1>
             </div>
             <div class="left slide-rightcol">
                <p>Dedicated to Maximo</p>
                <p>10+ years of expertise</p>
                <p>Effective training programs</p>
             </div>  
      
      </li>
    </ul></div></div>
    </div>

    <div align="center" class="center_content">
<iframe width="640" height="480" src="http://www.youtube.com/embed/LJX1Ktg8rRc?wmode=transparent&amp;rel=0&amp;enablejsapi=1" frameborder="0" allowfullscreen="" id="LJX1Ktg8rRc"></iframe>
</div>
 <div class="center_content">

      <div class="home_center_buttons">
            <a class="bleft" href="industry-roi/">
    <div class="t">   
             <span>New to Maximo?</span>
                Improve Your ROI
               </div>
    </a>



			<a class="bright" href="upgrades/">
<div class="t">   
			   <span>Currently Using Maximo?</span>
				Upgrade for Free
			   </div>
</a>

        </div>
    <!-- end home_left_col -->
    <div class="home_testimonials"><div class="htest" id="htest_1" style="visibility: hidden; zoom: 1; opacity: 0;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/ljt.jpg" alt="" height="34">
<br> Hubert Chang, <br>
LJT &amp; Associates, Inc.
</div>
Projetech has been more than just a solution....they have been a team member. THANK YOU.
</div>
</div>
<div class="htest" id="htest_2" style="visibility: hidden; zoom: 1; opacity: 0;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/northwind.jpg" alt="" height="34">
<br> David Asling-Snee, <br>
Northwind Solutions
</div>
We selected Projetech based on a fairly rigorous search for companies that had a good track record of implementing the Maximo Solution.
</div>
</div>
<div class="htest" id="htest_3" style="visibility: visible; zoom: 1; opacity: 1;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/honeywell.jpg" alt="" height="34">
<br> Spencer Algren, <br>
Honeywell Corporation
</div>
I have been very happy with Maximo and the Projetech team. They supported and guided us in development of our asset management system.
</div>
</div>
<div class="htest" id="htest_4" style="visibility: hidden; zoom: 1; opacity: 0;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/ljt.jpg" alt="" height="34">
<br> Rick Rambo, <br>
LJT &amp; Associates, Inc.
</div>
Projetech's Maximo as a Service solution is not only efficient and highly secure, it's cost effective and will save us money.
</div>
</div>
<div class="htest" id="htest_5" style="visibility: hidden; zoom: 1; opacity: 0;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/airliquide.jpg" alt="" height="34">
<br> Maintenance Manager, <br>
Air Liquide Canada
</div>
Projetech’s Maximo as a Service is excellent! Issues are addressed in a timely fashion!
</div>
</div>
<div class="htest" id="htest_6" style="visibility: hidden; zoom: 1; opacity: 0;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/dowagro.jpg" alt="" height="34">
<br> Facilities Manager, <br>
Dow AgroSciences
</div>
I believe Projetech is committed to my company's success!
</div>
</div>
<div class="htest" id="htest_7" style="visibility: hidden; zoom: 1; opacity: 0;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/midway.png" alt="" height="34">
<br> Manager,Financial Analysis, <br>
Midway Products Group
</div>
When dealing with Projetech's MaaS help desk, my issues are resolved to my satisfaction in a timely manner!
</div>
</div>
<div class="htest" id="htest_8" style="visibility: hidden; zoom: 1; opacity: 0;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/bp.png" alt="" height="34">
<br> Plant Maintenance Manager, <br>
BP
</div>
I would most definitely recommend Projetech to a friend or a colleague!
</div>
</div>
<div class="htest" id="htest_9" style="visibility: hidden; zoom: 1; opacity: 0;">
<div class="i">
<div class="htesta">
<img src="/assets/images/client_logo_rotation/diamond.gif" alt="" height="34">
<br> Maintenance Supervisor, <br>
Diamond Generating
</div>
Projetech’s employees are courteous, knowledgeable and professional!
</div>
</div>
<script>autofadetestimonials();</script></div>
    <!-- end home_testimonials -->
    <div class="home_logos">
        <h4>Clients benefiting from Projetech</h4>
        <div class="h_logorot_c"><script type="text/javascript"> 
var lr_params = {wmode:"transparent"};
var lr_attributes = {wmode:"transparent"};
var lr_flashvars = {l0:'cargill.jpg',w0:62,h0:40,l1:'tube-lines_logo.jpg',w1:76,h1:40,l2:'trrihealth.jpg',w2:51,h2:40,l3:'ketteringh.jpg',w3:218,h3:40,l4:'azm.jpg',w4:95,h4:40,l5:'honeywell.jpg',w5:135,h5:40,l6:'jackdaniels.jpg',w6:384,h6:40,l7:'midway.png',w7:144,h7:40,l8:'dayton.jpg',w8:72,h8:40,l9:'purdue.jpg',w9:152,h9:40,l10:'toyota.jpg',w10:165,h10:40,l11:'diamond.gif',w11:145,h11:40,l12:'tsh.jpg',w12:180,h12:40,l13:'pfizer.jpg',w13:65,h13:40,l14:'clopay.jpg',w14:231,h14:40,l15:'bp.png',w15:60,h15:40,l16:'itt.jpg',w16:69,h16:40,l17:'princeton.jpg',w17:264,h17:40,l18:'dowagro.jpg',w18:210,h18:40,l19:'pic.gif',w19:42,h19:40,l20:'dji.jpg',w20:43,h20:40,l21:'fdic.jpg',w21:81,h21:40,l22:'NASA.gif',w22:47,h22:40,l23:'airliquide.jpg',w23:108,h23:40,l24:'hoosier.png',w24:187,h24:40,l25:'ljt.jpg',w25:65,h25:40,l26:'emcorelogo.png',w26:187,h26:40,l27:'dhl.jpg',w27:117,h27:40,l28:'lilley.jpg',w28:95,h28:40,l29:'northwind.jpg',w29:114,h29:40,l30:'dco.jpg',w30:66,h30:40}
</script>

<object type="application/x-shockwave-flash" wmode="transparent" data="/assets/media/logoRotator.swf" width="700" height="80" id="logorot" style="visibility: visible;"><param name="wmode" value="transparent"><param name="flashvars" value="l0=cargill.jpg&amp;w0=62&amp;h0=40&amp;l1=tube-lines_logo.jpg&amp;w1=76&amp;h1=40&amp;l2=trrihealth.jpg&amp;w2=51&amp;h2=40&amp;l3=ketteringh.jpg&amp;w3=218&amp;h3=40&amp;l4=azm.jpg&amp;w4=95&amp;h4=40&amp;l5=honeywell.jpg&amp;w5=135&amp;h5=40&amp;l6=jackdaniels.jpg&amp;w6=384&amp;h6=40&amp;l7=midway.png&amp;w7=144&amp;h7=40&amp;l8=dayton.jpg&amp;w8=72&amp;h8=40&amp;l9=purdue.jpg&amp;w9=152&amp;h9=40&amp;l10=toyota.jpg&amp;w10=165&amp;h10=40&amp;l11=diamond.gif&amp;w11=145&amp;h11=40&amp;l12=tsh.jpg&amp;w12=180&amp;h12=40&amp;l13=pfizer.jpg&amp;w13=65&amp;h13=40&amp;l14=clopay.jpg&amp;w14=231&amp;h14=40&amp;l15=bp.png&amp;w15=60&amp;h15=40&amp;l16=itt.jpg&amp;w16=69&amp;h16=40&amp;l17=princeton.jpg&amp;w17=264&amp;h17=40&amp;l18=dowagro.jpg&amp;w18=210&amp;h18=40&amp;l19=pic.gif&amp;w19=42&amp;h19=40&amp;l20=dji.jpg&amp;w20=43&amp;h20=40&amp;l21=fdic.jpg&amp;w21=81&amp;h21=40&amp;l22=NASA.gif&amp;w22=47&amp;h22=40&amp;l23=airliquide.jpg&amp;w23=108&amp;h23=40&amp;l24=hoosier.png&amp;w24=187&amp;h24=40&amp;l25=ljt.jpg&amp;w25=65&amp;h25=40&amp;l26=emcorelogo.png&amp;w26=187&amp;h26=40&amp;l27=dhl.jpg&amp;w27=117&amp;h27=40&amp;l28=lilley.jpg&amp;w28=95&amp;h28=40&amp;l29=northwind.jpg&amp;w29=114&amp;h29=40&amp;l30=dco.jpg&amp;w30=66&amp;h30=40"></object>


<br><br><br><br>&nbsp;&nbsp;</div>
    </div>
    <!-- end home_logos --></div>
<!-- end home_center_content --></div>
<!-- end left_col -->
<div style="clear: both;">&nbsp;</div>
</div>
<!-- end client_edit_area -->


</div>  <!-- end page -->
 <!-- end doc -->   
  <!-- end doc_w -->     

<style>
.nav-mobile{display:block !important;}
</style>
<link rel="stylesheet" href="http://projetech.com/assets/css/jquery.bxslider.css" type="text/css">
<script src="http://projetech.com/assets/js/jquery.bxslider.min.js"></script>
<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function(){
  jQuery('.bxslider').bxSlider({
	  controls:false,
	  pager: false,
	  auto:true,
	  mode:'fade'
	  });
});
</script>

<!-- end left_col -->
<div style="clear: both;">  </div>
<div id="mobile-share">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook addthis_button_preferred_1 at300b" title="Facebook" href="#"><span class="at4-icon aticon-facebook" style="background-color: rgb(48, 88, 145);"><span class="at_a11y">Share on facebook</span></span></a>
				<a class="addthis_button_twitter addthis_button_preferred_2 at300b" title="Tweet" href="#"><span class="at4-icon aticon-twitter" style="background-color: rgb(44, 168, 210);"><span class="at_a11y">Share on twitter</span></span></a>
				<a class="addthis_button_linkedin at300b" href="http://www.addthis.com/bookmark.php?v=300&amp;winname=addthis&amp;pub=ra-4ddf9e8518018462&amp;source=tbx-300&amp;lng=en-us&amp;s=linkedin&amp;url=http%3A%2F%2Fprojetech.com%2F&amp;title=Maximo%20SaaS%2C%20Hosting%2C%20Training%2C%20Upgrades%2C%20Support%20%7C%20Projetech%2C%20The%20Maximo%20Experts&amp;ate=AT-ra-4ddf9e8518018462/-/-/54d522643985c531/2&amp;frommenu=1&amp;uid=54d52264c9b5f302&amp;ct=1&amp;tt=0&amp;captcha_provider=nucaptcha" target="_blank" title="LinkedIn"><span class="at4-icon aticon-linkedin" style="background-color: rgb(68, 152, 200);"><span class="at_a11y">Share on linkedin</span></span></a>


				<a class="addthis_button_print addthis_button_preferred_4 at300b" title="Print" href="#"><span class="at4-icon aticon-print" style="background-color: rgb(115, 138, 141);"><span class="at_a11y">Share on print</span></span></a>

				<a class="addthis_button_compact at300m" href="#"><span class="at4-icon aticon-compact" style="background-color: rgb(252, 109, 76);"><span class="at_a11y">More Sharing Services</span></span></a>
				<a class="addthis_counter addthis_bubble_style" href="#" style="display: inline-block;"><a class="addthis_button_expanded" target="_blank" title="View more services" href="#">38</a><a class="atc_s addthis_button_compact"><span></span></a></a>
				<div class="atclear"></div></div>

</div>
<!-- end client_edit_area -->
<!-- end client_edit_area -->

<script type="text/javascript">// <![CDATA[
var addthis_config = {"data_track_clickback":true};
// ]]></script>
<script src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ddf9e8518018462" type="text/javascript"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; top: -9999px; z-index: 100000;"><iframe id="_atssh337" title="AddThis utility frame" src="//s7.addthis.com/static/r07/sh188.html#iit=1423254117000&amp;tmr=load%3D1423254115360%26core%3D1423254116203%26main%3D1423254116990%26ifr%3D1423254117005&amp;cb=0&amp;cdn=0&amp;kw=Projetech%2Can%20IBM%20Premier%20Business%20Partner%2Cprovides%20solutions%20to%20maintenance%20and%20reliability%20professionals.%20%20Maximo%C2%AE%20as%20a%20Service%2Cour%20cloud%20hosting%20solution&amp;ab=-&amp;dh=projetech.com&amp;dr=&amp;du=http%3A%2F%2Fprojetech.com%2F&amp;dt=Maximo%20SaaS%2C%20Hosting%2C%20Training%2C%20Upgrades%2C%20Support%20%7C%20Projetech%2C%20The%20Maximo%20Experts&amp;dbg=0&amp;cap=tc%3D0%26ab%3D0&amp;inst=1&amp;jsl=1&amp;prod=undefined&amp;lng=en-us&amp;ogt=image&amp;pc=men&amp;pub=ra-4ddf9e8518018462&amp;ssl=0&amp;sid=54d522643985c531&amp;srpl=1&amp;srcs=1&amp;srd=1&amp;srf=1&amp;srx=1&amp;ver=300&amp;xck=0&amp;xtr=0&amp;og=image%3Dhttp%253A%252F%252Fprojetech.com%252Fassets%252Fimages%252Fprojlogo-blue.jpg&amp;aa=0&amp;csi=undefined&amp;toLoJson=uvs%3D54d52264bb5c9fde000%26chr%3DUTF-8%26md%3D0%26vcl%3D0&amp;rrev=17.4-edge&amp;ct=1&amp;xld=1&amp;xd=1" style="height: 1px; width: 1px; position: absolute; top: 0px; z-index: 100000; border: 0px; left: 0px;"></iframe></div><script type="text/javascript" src="http://s7.addthis.com/static/r07/core184.js"></script>
<!-- AddThis Button END -->


  <!-- end page -->
 <!-- end doc -->   
  <!-- end doc_w -->   
<div id="footer" class="footer" style="position: absolute; left: 0px; top: 1754px;">
<div class="footer_i">
<div class="flinks">
		      <a href="about-us/free-trial">Free Trial</a>   |     
		      <a href="about-us/contact-us">Contact Us</a>   |  
		      <a href="newsletter-signup">Newsletter Signup</a>   |   
		      <a href="customer-support">Customer Support</a> |
			  <a href="site-map">Site Map</a> 
		     
			</div>
<a class="flogo" href="/"><img src="/assets/images/footer_logo_proj.png" border="0" alt="" width="65" height="28"></a>
<div class="sociables"> 
				 <span class="t">Share this page</span>


<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook addthis_button_preferred_1 at300b" title="Facebook" href="#"><span class="at4-icon aticon-facebook" style="background-color: rgb(48, 88, 145);"><span class="at_a11y">Share on facebook</span></span></a>
				<a class="addthis_button_twitter addthis_button_preferred_2 at300b" title="Tweet" href="#"><span class="at4-icon aticon-twitter" style="background-color: rgb(44, 168, 210);"><span class="at_a11y">Share on twitter</span></span></a>
				<a class="addthis_button_youtube"></a>
<!--
				<a class="addthis_button_preferred_4"></a>
-->
				<a class="addthis_button_compact at300m" href="#"><span class="at4-icon aticon-compact" style="background-color: rgb(252, 109, 76);"><span class="at_a11y">More Sharing Services</span></span></a>
				<a class="addthis_counter addthis_bubble_style" href="#" style="display: inline-block;"><a class="addthis_button_expanded" target="_blank" title="View more services" href="#">38</a><a class="atc_s addthis_button_compact"><span></span></a></a>
				<div class="atclear"></div></div>


<script type="text/javascript">// <![CDATA[
var addthis_config = {"data_track_clickback":true};
// ]]></script>
<script src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ddf9e8518018462" type="text/javascript"></script>
<!-- AddThis Button END -->

<!-- Delivra BEGIN -->
<script type="text/javascript" language="javascript" src="https://integration.delivra.com/tracking/projetechdltr.js"></script> 
<script type="text/javascript" language="javascript"> 
<!-- 
EXcl='projetech-newsletter'; // your ListManager list name 
EXe='page'; // event 
EXsl=window.location; // step label 
EXu=''; // user variables 
write_tag(); 
--> 
</script><img src="http://integration.delivra.com/tracking/default.aspx?mid=&amp;ml=&amp;cl=projetech-newsletter&amp;e=page&amp;sl=http%3A//projetech.com/&amp;u=&amp;l=&amp;url=http%3A//projetech.com/" height="1" width="1">

<!-- Delivra END -->

<!-- Begin Salesforce Tracking Code, Place immediately before closing </BODY> tag -->
<!--<SCRIPT type="text/javascript" src="https://lct.salesforce.com/sfga.js"></SCRIPT>
<SCRIPT type="text/javascript">__sfga();</SCRIPT>-->

<!-- End Salesforce Tracking Code, Place immediately before closing </BODY> tag -->






				</div>
</div>
</div>




<div id="subMenusContainer"><div class="smOW"><ul style="margin-top: 0px; visibility: visible; zoom: 1; opacity: 0.95;"><li class="first"><a href="industry-roi/roi" title="Industry ROI" tabindex="-1" class="subMenuBtn">Industry ROI</a></li>
<li><a href="industry-roi/energy" title="Energy" tabindex="-1" class="subMenuBtn">Energy</a></li>
<li><a href="industry-roi/facilities-management" title="Facilities Management" tabindex="-1" class="subMenuBtn">Facilities Management</a></li>
<li><a href="industry-roi/government" title="Government" tabindex="-1" class="subMenuBtn">Government</a></li>
<li><a href="industry-roi/healthcare" title="Healthcare" tabindex="-1" class="subMenuBtn">Healthcare</a></li>
<li><a href="industry-roi/life-science-pharmeceuticals" title="Life Science / Pharmaceuticals" tabindex="-1" class="subMenuBtn">Life Science / Pharmaceuticals</a></li>
<li><a href="industry-roi/manufacturing" title="Manufacturing" tabindex="-1" class="subMenuBtn">Manufacturing</a></li>
<li><a href="industry-roi/service-providers" title="Service Providers" tabindex="-1" class="subMenuBtn">Service Providers</a></li>
<li class="last"><a href="industry-roi/transportation" title="Transportation" tabindex="-1" class="subMenuBtn">Transportation</a></li>
</ul></div><div class="smOW" style="display: none; visibility: visible; z-index: 1; height: 302px; width: 268px; top: 125px; left: 852px;"><ul style="margin-top: -302px; visibility: visible; zoom: 1; opacity: 0.95; width: 268px;"><li class="first"><a href="solution/overview" title="Overview" tabindex="-1" class="subMenuBtn">Overview</a></li>
<li><a href="solution/maximo-cost-comparison" title="Maximo Cost Comparison" tabindex="-1" class="subMenuBtn">Maximo Cost Comparison</a></li>
<li><a href="solution/maximo-mobile" title="Maximo Mobile" tabindex="-1" class="subMenuBtn">Maximo Mobile</a></li>
<li><a href="solution/maximo-on-demand-support" title="Maximo Support" tabindex="-1" class="subMenuBtn">Maximo Support</a></li>
<li><a href="solution/maximo-modules-and-features" title="Maximo Modules &amp; Features" tabindex="-1" class="subMenuBtn">Maximo Modules &amp; Features</a></li>
<li><a href="solution/maximo-security" title="Maximo Security" tabindex="-1" class="subMenuBtn">Maximo Security</a></li>
<li><a href="solution/maximo-software" title="Maximo Software" tabindex="-1" class="subMenuBtn">Maximo Software</a></li>
<li class="last"><a href="solution/work-request-portal" title="Work Request Portal" tabindex="-1" class="subMenuBtn">Work Request Portal</a></li>
</ul></div><div class="smOW"><ul style="margin-top: 0px; visibility: visible; zoom: 1; opacity: 0.95;"><li class="first"><a href="training/instructor-led-online-maximo-learning" title="Instructor-Led Online Maximo Learning (ILO)" tabindex="-1" class="subMenuBtn">Instructor-Led Online Maximo Learning (ILO)</a></li>
<li><a href="training/self-paced-online-maximo-learning" title="Self-Paced Online Maximo Learning (SPOL)" tabindex="-1" class="subMenuBtn">Self-Paced Online Maximo Learning (SPOL)</a></li>
<li><a href="training/maximo-4-classes" title="Maximo 4 Classes" tabindex="-1" class="subMenuBtn">Maximo 4 Classes</a></li>
<li><a href="training/maximo-6-classes" title="Maximo 6 Classes" tabindex="-1" class="subMenuBtn">Maximo 6 Classes</a></li>
<li><a href="training/maximo-7.1-classes" title="Maximo 7.1 Classes" tabindex="-1" class="subMenuBtn">Maximo 7.1 Classes</a></li>
<li><a href="training/maximo-7.5-classes" title="Maximo 7.5 Classes" tabindex="-1" class="subMenuBtn">Maximo 7.5 Classes</a></li>
<li class="last"><a href="training/training-faq" title="Training F.A.Q." tabindex="-1" class="subMenuBtn">Training F.A.Q.</a></li>
</ul></div><div class="smOW"><ul style="margin-top: 0px; visibility: visible; zoom: 1; opacity: 0.95;"><li class="first"><a href="careers/co-op-developer" title="Co-op Developer" tabindex="-1" class="subMenuBtn">Co-op Developer</a></li>
<li><a href="careers/co-op-technical-support" title="Co-op Technical Support Analyst" tabindex="-1" class="subMenuBtn">Co-op Technical Support Analyst</a></li>
<li><a href="careers/information-systems-support-/-junior-security-analyst" title="Information Systems Support / Junior Security Analyst" tabindex="-1" class="subMenuBtn">Information Systems Support / Junior Security Analyst</a></li>
<li><a href="careers/maximo-specialist-consultant" title="Maximo Specialist/Consultant" tabindex="-1" class="subMenuBtn">Maximo Specialist/Consultant</a></li>
<li class="last"><a href="careers/technical-support-analyst" title="Technical Support Analyst" tabindex="-1" class="subMenuBtn">Technical Support Analyst</a></li>
</ul></div></div><script type="text/javascript" id="">(function(d,k,m,t){var p={elements:[],minHeight:0,offset:0,elem:0,type:"gtm",percentage:!0,testing:!1},h=d(k),f=[];d.scrollDepth=function(b){function l(a,c,g){var n=!1,e=!1,f=0;"Baseline"==c&&(e=n=!0,f=1);b.testing||"ga"!=b.type?b.testing||"ua"!=b.type?b.testing||"gtm"!=b.type?d("#console").html(a+": "+c+"\x3c/br\x3eTiming: "+g):(dataLayer.push({event:"GAscroll",eventCategory:"Scroll Depth",eventAction:a,eventLabel:c,eventValue:1,eventNonInteraction:n}),2<arguments.length&&dataLayer.push({event:"GAtiming",
eventCategory:"Scroll Depth",eventAction:a,eventLabel:c,eventTiming:g})):(ga("send","event","Scroll Depth",a,c,1,{nonInteraction:f}),2<arguments.length&&ga("send","timing","Scroll Depth",a,g,c)):(_gaq.push(["_trackEvent","Scroll Depth",a,c,1,e]),2<arguments.length&&_gaq.push(["_trackTiming","Scroll Depth",a,g,c,100]))}function q(a,c,b){d.each(a,function(a,e){-1===d.inArray(a,f)&&c>=e&&(l("Percentage",a,b),f.push(a))})}function r(a,c,b){d.each(a,function(a,e){-1===d.inArray(e,f)&&d(e).length&&c>=d(e).offset().top&&
(l("Elements",e,b),f.push(e))})}var s=+new Date;b=d.extend({},p,b);d(m).height()<b.minHeight||(l("Percentage","Baseline"),h.on("scroll.scrollDepth",function(){var a=d(m).height(),c=k.innerHeight?k.innerHeight:h.height(),g=h.scrollTop()+c;parseInt(b.offset/100*c,10);a={"25%":parseInt(0.25*a,10),"50%":parseInt(0.5*a,10),"75%":parseInt(0.75*a,10),"100%":a-1};c=+new Date-s;f.length>=4+b.elements.length?h.off("scroll.scrollDepth"):(b.elements&&r(b.elements,g,c),b.percentage&&q(a,g,c))}))}})(jQuery,window,
document);jQuery.scrollDepth();</script><script type="text/javascript" id="">var tag=document.createElement("script");tag.src="//www.youtube.com/iframe_api";var firstScriptTag=document.getElementsByTagName("script")[0];firstScriptTag.parentNode.insertBefore(tag,firstScriptTag);var videoArray=[],playerArray=[],videoURL="";
(function(a){function b(){_ytMigrateObjectEmbed();enableYouTubeAPI();var b=0;a("iframe").each(function(){var e=a(this);console.log("line 23");console.log(e);console.log(e.attr("src"));videoURL=e.attr("src");var e=void 0===e.attr("src")?"":e.attr("src"),c=/(https?\:)?\/\/www\.youtube\.com\/embed\/([\w-]{11})(?:\?.*)?/;(c=e.match(c))&&1<c.length?(videoArray[b]=c[2],a(this).attr("id",c[2]),b++):(c=/(https?\:)?\/\/www\.youtube\.com\/v\/([\w-]{11})(?:\?.*)?/,(c=e.match(c))&&1<c.length&&(videoArray[b]=
c[2],a(this).attr("id",c[2]),b++))})}a(document).ready(function(){b()})})(jQuery);function onYouTubeIframeAPIReady(){for(var a=0;a<videoArray.length;a++)playerArray[a]=new YT.Player(videoArray[a],{events:{onReady:onPlayerReady,onStateChange:onPlayerStateChange}})}function onPlayerReady(a){}var PageviewURL=document.location.href,_pauseFlag=!1;
function onPlayerStateChange(a){videoarraynum=a.target.id-1;a.data==YT.PlayerState.PLAYING&&(ga("send","event","Video","Play",videoURL),_pauseFlag=!1);a.data==YT.PlayerState.ENDED&&(ga("send","event","Video","WatchToEnd",videoURL),_pauseFlag=!1);a.data==YT.PlayerState.PAUSED&&(ga("send","event","Video","Paused",videoURL),_pauseFlag=!1)}
function enableYouTubeAPI(){for(var a=document.getElementsByTagName("iframe"),b=0;b<a.length;b++)iframeSrc=a[b].src,iframeSrc=iframeSrc.replace("/v/","/embed/"),-1<iframeSrc.indexOf("//www.youtube.com/")&&0>iframeSrc.indexOf("enablejsapi\x3d1")&&(iframeSrc=0>iframeSrc.indexOf("?")?iframeSrc+"?enablejsapi\x3d1":iframeSrc+"\x26enablejsapi\x3d1",a[b].src=iframeSrc)}
function _ytMigrateObjectEmbed(){for(var a=document.getElementsByTagName("object"),b,d,e=/(https?:\/\/www\.youtube(-nocookie)?\.com[^\/]*).*\/v\/([^&?]+)/,c=0;c<a.length;c++)for(b=a[c].getElementsByTagName("param"),d=0;d<b.length;d++)if("movie"===b[d].name&&b[d].value){(d=b[d].value.match(e))&&d[1]&&d[3]&&(b=document.createElement("iframe"),b.src=d[1]+"/embed/"+d[3]+"?enablejsapi\x3d1",b.width=a[c].width,b.height=a[c].height,b.setAttribute("frameBorder","0"),b.setAttribute("allowfullscreen",""),a[c].parentNode.insertBefore(b,
a[c]),a[c].parentNode.removeChild(a[c]),c--);break}};</script><div style="display: none; visibility: hidden;"><script src="https://s3.amazonaws.com/hostedwebfiles/gacookiegen.js"></script>

<script>dataLayer.push({event:"cookieRewriteFired"});</script></div><script type="text/javascript" id="">function parseGACookie(){console.log("started reading");var c={},a=readCookie("__utmabz"),d=readCookie("__utmaba");if(a&&(a=a.split("."),4<=a.length))for(a=a[4].split("|"),i=0;i<a.length;i++){var b=a[i].split("\x3d");c[b[0]]=b[1]}d&&(a=d.split("."),d=a[1],c.uid=d);return c}function readCookie(c){c+="\x3d";for(var a=document.cookie.split(";"),d=0;d<a.length;d++){for(var b=a[d];" "==b.charAt(0);)b=b.substring(1,b.length);if(0==b.indexOf(c))return b.substring(c.length,b.length)}return null}
gaCookie=parseGACookie();"cpc"==ga.utmcsr&&alert("Paid advertising");var iframeForm=document.getElementById("iframe");if("undefined"!=typeof iframeForm&&null!=iframeForm){var win=document.getElementById("iframe").contentWindow,iframeUrl=document.getElementById("iframe").src,sendgacookie=JSON.stringify(gaCookie);window.onload=function(){win.postMessage(sendgacookie,iframeUrl);return!1}}console.log("Cookie parsed :)");dataLayer.push({event:"cookieParsed"});</script><div id="tf_hui_container" dir="ltr" onselectstart="return false;" style="position: fixed;"><div id="nd_e506252a6b7649eb9640b54befbe7519_status" class="nd_e506252a6b7649eb9640b54befbe7519_status" style="background-position: 0px 0px;"></div><div id="nd_e506252a6b7649eb9640b54befbe7519_title" class="nd_e506252a6b7649eb9640b54befbe7519_title"><span class="notranslate" style="display:block;"><label id="labeltitle">Endpoint Security by Bitdefender</label></span><label id="labelstatus">This page is safe</label></div><div class="nd_e506252a6b7649eb9640b54befbe7519_separator"></div><a id="nd_e506252a6b7649eb9640b54befbe7519_onoff" class="nd_e506252a6b7649eb9640b54befbe7519_onoff nd_e506252a6b7649eb9640b54befbe7519_onoff_on_unavailable" title=""></a><a id="nd_e506252a6b7649eb9640b54befbe7519_dragger" class="nd_e506252a6b7649eb9640b54befbe7519_dragger" title="Dragger"></a><div class="nd_e506252a6b7649eb9640b54befbe7519_settings_page"><div class="nd_e506252a6b7649eb9640b54befbe7519_settings_page_top"></div><div class="nd_e506252a6b7649eb9640b54befbe7519_settings_page_content"><p class="nd_e506252a6b7649eb9640b54befbe7519_settings_feature"><label class="labelstatustxt"><strong>Ad Filter</strong><br>AdBlock</label><a id="nd_e506252a6b7649eb9640b54befbe7519_1" class="nd_e506252a6b7649eb9640b54befbe7519_settings_btn_status nd_e506252a6b7649eb9640b54befbe7519_settings_btn_status_off_unavailable"></a><div class="nd_e506252a6b7649eb9640b54befbe7519_settings_feature_spacer"></div></p><p class="nd_e506252a6b7649eb9640b54befbe7519_settings_feature"><label class="labelstatustxt"><strong>Antiphishing Filter</strong><br>AntiPhishing</label><a id="nd_e506252a6b7649eb9640b54befbe7519_2" class="nd_e506252a6b7649eb9640b54befbe7519_settings_btn_status nd_e506252a6b7649eb9640b54befbe7519_settings_btn_status_on_unavailable"></a><div class="nd_e506252a6b7649eb9640b54befbe7519_settings_feature_spacer"></div></p><p class="nd_e506252a6b7649eb9640b54befbe7519_settings_feature"><label class="labelstatustxt"><strong>Antimalware Filter</strong><br>AntiMalware</label><a id="nd_e506252a6b7649eb9640b54befbe7519_3" class="nd_e506252a6b7649eb9640b54befbe7519_settings_btn_status nd_e506252a6b7649eb9640b54befbe7519_settings_btn_status_on_unavailable"></a><div class="nd_e506252a6b7649eb9640b54befbe7519_settings_feature_spacer"></div></p><p class="nd_e506252a6b7649eb9640b54befbe7519_settings_feature"><label class="labelstatustxt"><strong>Search Advisor</strong><br>Linkscanner</label><a id="nd_e506252a6b7649eb9640b54befbe7519_4" class="nd_e506252a6b7649eb9640b54befbe7519_settings_btn_status nd_e506252a6b7649eb9640b54befbe7519_settings_btn_status_on_unavailable"></a></p></div><div class="nd_e506252a6b7649eb9640b54befbe7519_settings_page_bottom"><a class="nd_e506252a6b7649eb9640b54befbe7519_settings_page_upbtn"></a></div></div></div></body></html>